<strong>Olá, {{ courier }}</strong>
<p>Uma nova encomenda está disponível, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Data do pedido: </strong> {{ date }} <br />
  <strong>Rua: </strong> {{ street }} <br />
  <strong>Número: </strong> {{ number }} <br />
  <strong>Complemento: </strong> {{ details }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>CEP: </strong> {{ cep }} <br />
</p>
