<strong>Olá, {{ courier }}</strong>
<p>A encomenda de ID {{ courierId }} possui agora uma data final, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Data inicial do pedido: </strong> {{ start_date }} <br />
  <strong>Data final do pedido: </strong> {{ end_date }} <br />
</p>
